@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-hex: #191919;
    --foreground-rgb: 25, 25, 25;
    --background-hex: #DFE3EC;
    --background-rgb: 223, 227, 236;
    --gradient-start: #FF0000;
    --gradient-end: #FF9D00;
}

[data-theme="dark"] {
    --foreground-hex: #D6DBDC;
    --foreground-rgb: 214, 219, 220;
    --background-hex: #191919;
    --background-rgb: 25, 25, 25;
    --gradient-start: #00FF00;
    --gradient-end: #0000FF;
}

body {
    color: var(--foreground-hex);
    background-color: var(--background-hex);
    transition: all;
    transition-duration: 250ms;
    scroll-behavior: smooth;
}

::selection {
    color: var(--background-hex);
    background-color: rgba(var(--foreground-rgb), 0.9);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.gradient-underline {
    background-image: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    background-size: 100% 2px; 
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all ease-in-out;
}
